body {
  margin: 0;

  display: grid;
  grid-template: 
  "Header Header  Header" auto
  ".      Main    ."      auto
  "Footer Footer  Footer" auto
  / 25vw   1fr     25vw;

  background-image: url(./Imagenes/FondoPokeballs.png); 
  background-repeat: repeat;
}

header {
  margin: 0;
  grid-area: Header;

  display: grid;
  grid-template-columns: auto 1fr auto auto;

  background: red;
  box-shadow: 0px -20px 5px inset black;  
}

.login, .registro {
  margin: 5px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;

  max-height: 2rem;
}

.logo {
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo img {
  height: 5rem;
}

header a:link,header a:hover,header a:visited {
  color: black;
  text-decoration: none;
}

main {
  grid-area: Main;

  padding: 10px;

  min-width: 40vw;
  background-color: white;
  box-shadow: 5px 0px 10px black, -5px 0px 10px black;
}

footer {
  grid-area: Footer;
  padding-top: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background: red;
  box-shadow: 0px 20px 5px inset black;
  color: white;  
}

footer > * {
  margin: 50px;

  width: 33% -5px;
}

footer h1 {
  text-align: center;
}

.contribuidores {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.contribuidores > div {
  margin: 5px;
  margin-top: 20px;
  padding-left: 40px;
  width: 300px;
}

.enlacesFooter div {
  display: flex;
  align-items: center;

  width: 50% -5px;
}

.enlacesFooter a:link,.enlacesFooter a:hover,.enlacesFooter a:visited {
  color: white;
  text-decoration: none;
}

.enlacesFooter img {
  padding: 5px;
  height: 25px;
}
