main {
    font-size: 1.5rem;
}

.entradilla {
    display: flex;
    flex-flow: column;
    align-items: center;
}

main h1 {
    font-size: 3rem;
}

.separador {
    margin-top: 50px;
    margin-bottom: 50px;
}

hr {
    border: double red;
}

.roles {
    display: flex;
    justify-content: space-around;
}

.rol {
    margin: 5px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    border: 2px solid black;
    border-radius: 10px;

    max-height: 2rem;
    font-weight: bold;
}

.rol a:link,.rol a:hover,.rol a:visited {
    color: white;
    text-decoration: none;
}